<div class="max-w-screen-2xl mx-auto px-4 mt-32">
    <div class="flex flex-col items-center py-16 justify-center mt-20 rounded-2xl shadow-xl relative">
        <img src="../images/hero1.jpg" alt="ski resort image"
            class="absolute inset-0 w-full h-full object-cover rounded-2xl">
        <div class="flex flex-col p-8 rounded-2xl items-center relative">
            <h1 class="my-6 font-extrabold text-white text-6xl">Welcome to SkiNet!</h1>
            <button routerLink="/shop" class="relative group
                   w-64 h-16 sm:w-80 sm:h-20
                   bg-sky-600 rounded-full
                   transform rotate-3
                   shadow-2xl hover:shadow-sky-500
                   transition-all duration-300 ease-in-out
                   hover:scale-105 hover:-rotate-6
                   overflow-hidden
                   flex items-center justify-center
                   border-4 border-sky-700
                   focus:outline-none focus:shadow-none">

                <div
                    class="absolute inset-0 bg-gradient-to-r from-blue-950 via-sky-800 to-blue-950 rounded-full transform scale-90">
                </div>

                <span class="relative z-10 text-white text-xl sm:text-2xl font-extrabold tracking-widest uppercase">
                    Go to shop
                </span>

                <div class="absolute w-6 h-6 sm:w-8 sm:h-8 bg-sky-400 rounded-full left-4 sm:left-6
                    transform -translate-y-1/2 -rotate-12 group-hover:rotate-0
                    transition-all duration-300 ease-in-out"></div>
                <div class="absolute w-6 h-6 sm:w-8 sm:h-8 bg-sky-400 rounded-full right-4 sm:right-6
                    transform translate-y-1/2 rotate-12 group-hover:rotate-0
                    transition-all duration-300 ease-in-out"></div>
            </button>
        </div>
    </div>
</div>